<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Suite" parallel="methods">
	
	<listeners>
		<listener class-name="com.Listeners.MyTransformer" />
	</listeners>

	<test name="Test">
		<classes>
			<class name="com.TestCases.LoginPageTest" />
		</classes>
	</test> 
</suite> 
